{% extends "core.html" %}

{% block head %}
    <title>New Password - PANCHAYAT HELPDESK</title>
    
{% endblock %}

{% block create_password %}
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-xs-4 text-center mx-auto pt-5 mt-5">
        <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='images/odisha_logo.png')}}" alt="" class="img-fluid logo"></a>
    </div>
</div>

    <div class="d-flex align-items-center ">

        <div class="card bg-white login_card border-0 mt-5">
            <div class="card-body px-5">
                <div class="text-center border-bottom pb-2">
                    <h4 class="card-title text-primary">Create New Password</h4>
                    <!-- <small class="text-secondary">Enter your email and we'll send you instructions to reset your password</small> -->
                </div>                    
                <form action="{{url_for('update_new_password')}}" method="post" class="mt-4" >
                    <label for="new_password" class="text-secondary">Enter New Password</label>
                    <input type="password" name="new_password" id="new_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control mb-3" placeholder="Entert New password" required>
                    <label for="confirm_password" class="text-secondary">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" placeholder="Confirm password" required>
                    <span id='message'></span><br>
                    
                    <button type="submit" class="btn btn-primary btn-sm rounded mt-4">Verify</button>
                    
                </form>
                
            </div>            
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('#new_password, #confirm_password').on('keyup', function () {
        if ($('#new_password').val() == $('#confirm_password').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else 
            $('#message').html('Not Matching').css('color', 'red');
        });
    </script>
{% endblock %}