{% extends "core.html" %}

{% block head %}
    <title>Login - PANCHAYAT HELPDESK</title>
{% endblock %}

{% block signin %}

        
    <div class="d-flex align-items-center mt-5">
        <div class="card bg-white login_card border-0 mt-5">
            <div class="card-body px-5 shadow">
                <div class="text-center border-bottom pb-2">
                    <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='/images/odisha_logo.png')}}" alt="" width="20%"></a>
                    <h4 class="card-title text-primary">SIGN IN</h4>
                    <small class="text-secondary">Enter your email and password to sign in</small>
                </div>                    
                <form action="{{url_for('login_attempt')}}" method="post" class="mt-4" >
                    <input type="radio" class="btn-check" name="user_type" id="option6" autocomplete="off" value="Citizen" checked >
                    <label class="btn text-secondary" for="option6">Citizen</label>
                    <input type="radio" class="btn-check" name="user_type" id="option5" autocomplete="off" value="Management">
                    <label class="btn text-secondary" for="option5">Management</label>
                    <input type="radio" class="btn-check" name="user_type" id="option4" autocomplete="off" value="Admin">
                    <label class="btn text-secondary" for="option4">Admin</label>
                    <br>

                    <label for="email_id" class="text-secondary mt-4">Email Address</label>
                    <input type="text" name="email_id" id="email_id" class="form-control" placeholder="Enter your email address here">
                    
                    <label for="password" class="text-secondary mt-4">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
                    <div class="form-check form-switch float-end">
                        <label class="form-check-label float-start me-5" for="flexSwitchCheckChecked"><small>Hide</small></label>
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" onclick="hide_show_function()">
                        <label class="form-check-label" for="flexSwitchCheckChecked"><small>Show</small></label>
                    </div>
                    <small><a href="{{url_for('forgot_password')}}" class="btn-link text-decoration-none btn-sm">Forgot Password ??</a></small><br>
                    <button type="submit" class="btn btn-primary rounded mt-4">Login</button>
                    <button type="reset"  class="btn btn-secondary rounded mt-4">Reset</button>
                    <p>Don't have an account ?? <a href="{{url_for('account_creation_page')}}" class="btn btn-link text-decoration-none btn-sm">Create Account</a></p>
                </form>
            </div>            
        </div>
    </div>
    <script>
        function hide_show_function() {
          var pwd = document.getElementById("password");
          if (pwd.type === "password") {
            pwd.type = "text";
          } else {
            pwd.type = "password";
          }
        }
    </script>
        
{% endblock %}    